*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
}

HTML * {
    font-family: 'Shizuru', cursive;
}

body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#nav-bar {
    justify-content: space-evenly;
    margin: 10px;
}

#canvas {
    background-color: #a9a9a9;
    border-radius: 20px;
}