*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
}

html * {
    font-family: 'Shizuru', cursive;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-screen {
    overflow: hidden;
    position: relative;
}

.stage-level {
    position: absolute;
    top: 4vmin;
    right: 4vmin;
    font-size: 4vmin;
}