*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
}

HTML * {
    font-family: 'Shizuru', cursive;
}

h1 {
    font-size: 60px;
    margin: 10px;
}

body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#nav-bar {
    justify-content: space-evenly;
    background-color: #a9a9a9;
    padding: 10px;
}

#nav-bar li {
    display: inline;
    font-size: 32px;
    text-align: center;
}

#nav-bar li a {
    text-decoration: none;
}

#nav-bar li:hover {
    background-color: #838383;
}

#canvas {
    background-color: #a9a9a9;
    border-radius: 20px;
}